footer.footer
    .footer__row
        .footer__col
            .footer__text
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    .footer__row
        .footer__col
            .footer__menu
                nav.menu
                    ul.menu__list
                        li.menu__item
                            a(href="/my-works.html").menu__link Мои работы
                        li.menu__item
                            a(href="/about.html").menu__link Обо мне
                        li.menu__item
                            a(href="/blog.html").menu__link Блог
                        li.menu__item
                            a(href="/auth.html").menu__link Авторизация
        .footer__col
            .footer__socials
                ul.socials.hero__socials
                    li.socials__link
                        a(href="https://vk.com/id152171370" alt="ВКонтакте" title="ВКонтакте").socials__link-vk
                            include ../../images/vk.svg
                    li.socials__link
                        a(href="https://github.com/Dreamer1992" alt="Github" title="Github").socials__link-github
                            include ../../images/github.svg
                    li.socials__link
                        a(href="mailto:Ganiev.Davlet@gmail.com" alt="Gmail" title="Gmail").socials__link-gmail
                            include ../../images/gmail.svg
    .footer__row
        .footer__col
            .footer__text.blockquote
                blockquote.quote__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                p.quote__name - Martin Golding