section.section.hero
    .hero__title
        .hero__top-line
            ul.socials
                li.socials__link
                    a(href="https://vk.com/id152171370" alt="ВКонтакте" title="ВКонтакте").socials__link-vk
                        include ../../images/vk.svg
                li.socials__link
                    a(href="https://github.com/Dreamer1992" alt="Github" title="Github").socials__link-github
                        include ../../images/github.svg
                li.socials__link
                    a(href="mailto:Ganiev.Davlet@gmail.com" alt="Gmail" title="Gmail").socials__link-gmail
                        include ../../images/gmail.svg

            a(href="").hamburger.hero__menu
                include ../../images/hamburger.svg
        .hero__user
            .user
                .user__pic
                    img.user__pic-img(src="../assets/images/avatar.jpg")
                .user__info
                    .user__name Давлет Ганиев
                    .user__data Личный сайт веб разработчика

        .hero__arrow.arrow-down
            a(href="#")
                include ../../images/arrow_down.svg