.slide--parent
	.parent--el
		.two--col
			.is-item.has--img
				figure.the-img
					img(src="assets/images/S&Mitler.jpg" alt="")
	
			.is-item.has--content
				.is-item--inner
					h1
						span S&Mitler
					small Сайт салона красоты
					<hr/>
					p S&Mitler - это салон красоты бизнес-класса. Мастера салона дарят посетителям уверенность в себе и индивидуальный стиль. Здесь представлены все самые востребованные услуги бьюти-индустрии.
					p Парикмахерский сервис | Косметологический сервис | Маникюрный сервис | Массаж и SPA | Солярий
					p Дамам здесь предложат экстраординарный ассортимент косметологических процедур и качественный нейл-сервис, а мужчин порадуют услугами стилистов и уходом за лицом.

	.parent--el
		.two--col
			.is-item.has--img
				figure.the-img
					img(src="assets/images/S&Mitler.jpg" alt="")

			.is-item.has--content
				.is-item--inner
					h1
						span S&Mitler
					small Сайт салона красоты
					<hr/>
					p S&Mitler - это салон красоты бизнес-класса. Мастера салона дарят посетителям уверенность в себе и индивидуальный стиль. Здесь представлены все самые востребованные услуги бьюти-индустрии.
					p Парикмахерский сервис | Косметологический сервис | Маникюрный сервис | Массаж и SPA | Солярий
					p Дамам здесь предложат экстраординарный ассортимент косметологических процедур и качественный нейл-сервис, а мужчин порадуют услугами стилистов и уходом за лицом.