extends ../template

block variables
    - var title = "Добро пожаловать"

block content
    .container.bg-fon
        .header
            .header__btn-auth
                a(href="/auth.html" class="btn-auth") Авторизоваться
        .header-user
            .user
                .user__pic
                    img(src="assets/images/avatar.jpg", alt="Веб разработчик")
                .user__description
                    .user__name Давлет Ганиев
                    .user__data Личный сайт веб разработчика
                .user__socials
                    ul.socials
                        li.socials__link
                            a(href="https://vk.com/id152171370" alt="ВКонтакте" title="ВКонтакте").socials__link-vk
                                include ../../images/vk.svg
                        li.socials__link
                            a(href="https://github.com/Dreamer1992" alt="Github" title="Github").socials__link-github
                                include ../../images/github.svg
                        li.socials__link
                            a(href="mailto:Ganiev.Davlet@gmail.com" alt="Gmail" title="Gmail").socials__link-gmail
                                include ../../images/gmail.svg
                .pages-site
                    ul.pages
                        li.pages__link
                            a(href="/my-works.html").pages__link-works Мои работы
                        li.pages__link
                            a(href="/about.html").pages__link-about Обо мне
                        li.pages__link
                            a(href="/blog.html").pages__link-blog Блог
            
        footer.footer-index
            p.index-copyright &copy; Ганиев Давлет | 2018