extends ../template

block variables
    - var title = "Добро пожаловать"

block content
    .container.bg-fon
        .header
            .header__btn-auth
                a(href="#" class="btn-auth") Авторизоваться
        .block-welcome
            img(src="assets/images/avatar.jpg", alt="")
        .footer
            p &copy; Ганиев Давлет | 2018
        