extends ../template

block variables
    - var title = "Мои работы"

block content
    include ../common/header-inc
    section.triangle-works
        include ../common/triangle-inc
    
    section.section__works
        .works__title
            .works__title_back-bg
            h2.works__title-h2.underline Мои работы
        .portfolio__col
            include ../common/slider.pug
            
    section.bg__what-say
        .what-say
            .what-say__title
                h2.works__title-h2.underline Что обо мне </br> говорят
            .blockquote
                .blockquote__row
                    .quote__one
                        .avatar
                            img.quote__image(src="../assets/images/kovalchuk.jpg", alt="")
                        .quote
                            p.quote__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! Месяц тяжелых испытаний и бессонных ночей.
                            p.author Ковальчук Дмитрий
                            p.who_is - Основатель LoftSchool
                    .quote__two
                        .avatar
                            img.quote__image(src="../assets/images/sabancev.jpg", alt="")
                        .quote
                            p.quote__text Этот код выдержит любые испытания. Только пожалуй, не загружается сайт на слишком старых браузерах.
                            p.author Сабанцев Владимир
                            p.who_is - преподаватель

            .what-say__form
                .form-wrap
                    .form-wrap__title
                        h2.form-title.underline Связаться со мной
                    .field-name
                        input(type="text" id="name" class="name" placeholder="Имя")
                    .field-email
                        input(type="text" id="email" class="email" placeholder="Email")
                    .field-textarea
                        textarea.form-textarea(rows="5" placeholder="Ваше сообщение")
                    .buttons
                        input.submit__btn(type="submit" value="Отправить")
                        input.reset__btn(type="reset" value="Очистить")

        include ../common/footer-inc
        
        .footer__my-works
            .copyright
                p.copyright__text © Давлет Ганиев | 2018