* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-size: 16px;
    font-family: 'Roboto-Regular', 'sans-serif';
}

@import 'common/fonts';
@import 'common/menu';
@import 'common/slider';
@import 'common/index';