.bg-auth {
    display: flex;
    flex-direction: column;
    position: relative;
    background: url('../images/forest-bg.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}
.auth__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 30%;
    height: auto;
    background-color: rgba(18, 38, 32, .6);
    color: #ffffff;
    border-radius: 0 0 5px 5px;
    .auth__title {
        font-family: 'Sansus-Webissimo-Regular', 'sans-serif';
        font-size: 2.1875em;
        text-transform: uppercase;
        margin: 40px 0;
        .underline::after {
            background: #fff;
        }
    }
    .auth__field {
        width: 90%;
        margin: 10px 0;
        .login,
        .password {
            background-repeat: no-repeat;
            background-position: 15px;
            padding: 15px 10px 15px 50px;
            width: 100%;
            border: none;
            border-radius: 40px;
            font-family: 'Roboto-Regular', 'sans-serif';
        }
        .login {
            background-image: url('../images/login.svg');
            
        }
        .password {
            background-image: url('../images/password.svg');
        }
    }

    .checkbox {
        margin: 15px;
    }
    .checkbox-human,
    .radio-question {
        display: none;
    }
    .checkbox-custom,
    .radio-custom {
        position: relative;
        width: 20px;
        height: 20px;
    }
    .checkbox-custom {
        background: #6c9c5a;
        border-radius: 3px;
    }
    .radio-custom {
        border-radius: 50%;
        background: #fff;
    }
    .checkbox-custom,
    .checkbox-label,
    .radio-custom {
        display: inline-block;
        vertical-align: middle;
    }
    .checkbox-label,
    .radio-label {
        margin-left: 10px;
        font-family: 'Roboto-Regular', 'sans-serif';
        font-size: 1em;
    }
    .checkbox-human:checked + .checkbox-custom:before {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        background-image: url('../images/check.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .radio-question:checked + .radio-custom:before {
        content: '';
        display: block;
        position: absolute;
        background: #6c9c5a;
        top: 6px;
        bottom: 6px;
        left: 6px;
        right: 6px;
        border-radius: 50%;
    }
    .radio-question:checked  ~ .radio-label {
        color: rgba(108, 156, 90, .8);
        font-family: 'Roboto-Medium', 'sans-serif';
    }
    .radio {
        width: 100%;
        margin-bottom: 20px;
        .radio__field {
            display: flex;
            justify-content: center;
            label {
                width: 30%;
            }
        }
        .radio__title {
            text-align: center;
            font-size: 1em;
            font-family: 'Roboto-Bold', 'sans-serif';
            margin-bottom: 5px;
        }
    }
    .buttons {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        .auth-btn {
            width: 100%;
            color: #fff;
            padding: 13px 10px;
            background: #6c9c5a;
            text-decoration: none;
            text-align: center;
            font-size: 1em;
            font-family: 'Roboto-Medium', 'sans-serif';
            &:hover {
                background: #4e8839;
            }
        }
        .auth-btn:first-child {
            border-right: 2px solid rgba(222, 227, 231, .5);
            border-radius: 0 0 0 5px;
        }
        .auth-btn:last-child {
            border-radius: 0 0 5px 0;
        }
    }

}
.copyright-auth {
    padding: 40px 0;
    text-align: center;
}