body {
    color: #ffffff;
}
.bg-fon {
    background: url('../images/forest-bg.jpg') no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 750px;
    justify-content: space-between;
}
.header__btn-auth {
    display: flex;
    justify-content: flex-end;
}
.btn-auth {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    border: 1px solid #fff;
    padding: 12px 27px;
    border-radius: 40px;
    margin: 20px 20px 0 0;
    &:hover {
        background-color: #4e8839;
    }
}


.footer,
.header-user {
    display: flex;
    justify-content: center;
}

.user {
    background-color: rgba(18,38,32,0.6);
    position: relative;
    padding: 20px 60px;
    .user__pic {
        margin: 35px 0 35px 0;
        display: flex;
        img {
            border-radius: 50%;
            width: 140px;
            height: 140px;
            background-color: #e2e2e2;
            margin: 0 auto;
        }
    }
    .user__name {
        font-size: 1.75em;
        text-align: center;
    }
    .user__data {
        font-size: 1em;
        text-align: center;
        opacity: .8;
    }
    .socials {
        display: flex;
        justify-content: center;
        padding: 25px 0;
        .socials__link {
            list-style-type: none;
            display: inline-block;
            opacity: 0.65;
            a svg:hover {
                fill: #4e8839;
            }
        }
        .socials__link-github {
            margin: 0 27px;
        }
    }
    .pages {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        bottom: -45px;
        left: 0px;
        .pages__link {
            list-style-type: none;
            background-color: #6c9c5a;
            text-align: center;
            flex-grow: 1;
            border-right: 2px solid rgba(#dee3e7, .5);
            a {
                padding: 12px 10px 15px 10px;
                display: block;
                font-size: 1em;
                color: #ffffff;
                text-decoration: none;
            }
        }
        .pages__link:hover {
            background-color: #4e8839;
            cursor: pointer;
        }
        .pages__link:last-child {
            border-right: none;
            border-radius: 0 0 5px 0;
        }
        .pages__link:first-child {
            border-radius: 0 0 0 5px;
        }
    } //end pages
} //end user

.index-copyright {
    padding: 40px 0;
    text-align: center;
}