.section__works {
  background: #f8f9f5;
}

.works__title {
  position: relative;
  background-color: #f8f9f5;
}
.works__title_back-bg {
  display: block;
  position: absolute;
  background: url(../images/works_header.svg) no-repeat 50% 50%;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.1;
}
.works__title-h2 {
  position: relative;
  font-family: "Sansus-Webissimo-Regular", sans-serif;
  font-size: 3.9375em;
  color: #373e42;
  text-transform: uppercase;
  text-align: center;
  padding: 70px 0;
  z-index: 10;
}
.hero__title__top-line {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.triangle-works .multi__triangles .triangle__left,
.triangle-works .multi__triangles .triangle__right {
  fill: #f8f9f5;
}

.footer__my-works {
  .copyright {
    position: relative;
    background-color: rgba(108, 156, 90, 0.85);
    bottom: 0px;
    .copyright__text {
      padding: 10px 0 15px 0;
    }
  }
}
.bg__what-say {
  background-image: url("../images/bg__what-say.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.blockquote__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  .quote__one,
  .quote__two {
    flex: 0 0 35%;
    .avatar,
    .quote {
      width: 80%;
      text-align: center;
    }
  }
  .quote {
    font-family: "Roboto-Italic", sans-serif;
    color: #5d5a55;
    font-size: 1em;
    .quote__text {
      text-align: left;
      padding-bottom: 20px;
    }
    .author,
    .who_is {
      text-align: right;
      padding: 3px 30px;
    }
  }
  .quote__image {
    border-radius: 50%;
    width: 20%;
  }
  .quote .author {
    color: #4e8839;
    font-family: "Roboto-Bold", sans-serif;
  }
}
.what-say__form {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
  .form-wrap {
    background-color: rgba(218, 219, 214, 0.6);
    border-radius: 5px;
    justify-content: center;
    flex-flow: column nowrap;
    width: 380px;
    .form-wrap__title,
    .name,
    .email,
    .form-textarea {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
    .name,
    .email,
    .form-textarea {
      font-family: "Roboto-Regular", sans-serif;
      font-size: 16px;
      color: #5d5a55;
      padding: 13px 20px;
      border-radius: 10px;
      border: none;
    }
    .field-name,
    .field-email,
    .field-textarea {
      margin-bottom: 20px;
    }
    .form-wrap__title {
      text-align: center;
      color: #566358;
      font-size: 18px;
      text-transform: uppercase;
      padding: 30px 0;
    }
    .buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      .submit__btn,
      .reset__btn {
        width: 50%;
        color: #fff;
        padding: 13px 10px;
        background: #6c9c5a;
        border: none;
        font-size: 1em;
        font-family: "Roboto-Medium", "sans-serif";
        &:hover {
          background: #4e8839;
          cursor: pointer;
        }
      }
      .submit__btn {
        border-right: 2px solid rgba(222, 227, 231, 0.5);
        border-radius: 0 0 0 5px;
      }
      .reset__btn {
        border-radius: 0 0 5px 0;
      }
    }
  }
}
.underline::after {
  display: block;
  content: "";
  position: absolute;
  height: 3px;
  width: 10%;
  background: #566358;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.footer__my-works .copyright {
  text-align: center;
}
